{% extends 'base.html.twig' %}

{% block title %}Hello AnalysePageController!{% endblock %}

{% block body %}
    {% for serie in liste_series %}
        <a href="{{ serie.lien }}"><img src="{{ serie.affiche }}" width="145" height="193" border="0"></a>
    {% endfor %}
{% endblock %}
